html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F55A5A;
  margin-top: 3em;
}

.header-logo {
  font-size: 2rem;
  color: #FFFFFF;
}

.header-text {
  color: #FFFFFF;
}
